img {
    border: red 2px solid
}

.wrapper {
  min-width: 980px;
  margin: 0 auto;
  background-color: aliceblue;
}
.wrapper .canvas {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: #fff;
}
.wrapper .canvas .item {
  position: absolute;
}
.wrapper .canvas .placeholder {
  width: 169px;
  height: 27px;
  left: 150px;
  top: 75px;
  z-index: 4;
  transform: matrix(0.95687, -0.2906, 0.2906, 0.95687, 0, 0);
  opacity: 0.352;
  background-color: #a7a9ac;
  color: black;
  text-align: center;
}
.wrapper .canvas .top {
  left: 175px;
  top: 90px;
  z-index: 2;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 143px;
  height: 169px;
  border: 1px dashed transparent;
  border-color: #ccc;
  background-color: #eee;
  opacity: .5;
}
.wrapper .canvas .top:hover {
  background-color: #f3f3f3;
}
.wrapper .canvas .bottom {
  left: 275px;
  top: 82px;
  z-index: 1;
  transform: matrix(0.99574, -0.09229, 0.09229, 0.99574, 0, 0);
  width: 125px;
  height: 241px;
  border: 1px dashed transparent;
  border-color: #ccc;
  background-color: #eee;
  opacity: .5;
}
.wrapper .canvas .bottom:hover {
  background-color: #f3f3f3;
}
.wrapper .canvas .shoes {
  left: 195px;
  top: 220px;
  z-index: 5;
  transform: matrix(0.90439, 0.42666, -0.42666, 0.90439, 0, 0);
  width: 93px;
  height: 80px;
  border: 1px dashed transparent;
  border-color: #ccc;
  background-color: #eee;
  opacity: .5;
}
.wrapper .canvas .shoes:hover {
  background-color: #f3f3f3;
}
.wrapper .canvas .bag {
  left: 275px;
  top: 227px;
  z-index: 3;
  transform: matrix(0.99824, -0.05926, 0.05926, 0.99824, 0, 0);
  width: 111px;
  height: 97px;
  border: 1px dashed transparent;
  border-color: #ccc;
  background-color: #eee;
  opacity: .5;
}
.wrapper .canvas .bag:hover {
  background-color: #f3f3f3;
}