.wrapper {
  min-width: 980px;
  margin: 0 auto;
  background-color: aliceblue;
}
#canvas {
  width: 710px;
  height: 710px;
  position: relative;
  background-color: #fff;
}
#canvas .item-img {
  left: 430px;
  top: 180.841px;
  position: absolute;
  z-index: 13;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#canvas .item-1 {
  left: 35px;
  top: 118.095px;
  position: absolute;
  z-index: 7;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 134px;
  height: 139px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-1:hover {
  background-color: #ab4444;
}
#canvas .border-1 {
  left: 30px;
  top: 116.343px;
  position: absolute;
  z-index: 10;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .item-2 {
  left: 196px;
  top: 122.766px;
  position: absolute;
  z-index: 3;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 216px;
  height: 215px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-2:hover {
  background-color: #ab4444;
}
#canvas .border-2 {
  left: 190px;
  top: 115.175px;
  position: absolute;
  z-index: 4;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .item-3 {
  left: 35px;
  top: 276.927px;
  position: absolute;
  z-index: 9;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 134px;
  height: 139px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-3:hover {
  background-color: #ab4444;
}
#canvas .border-3 {
  left: 30px;
  top: 274.007px;
  position: absolute;
  z-index: 11;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .item-4 {
  left: 35px;
  top: 433.423px;
  position: absolute;
  z-index: 8;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 134px;
  height: 139px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-4:hover {
  background-color: #ab4444;
}
#canvas .border-4 {
  left: 30px;
  top: 430.504px;
  position: absolute;
  z-index: 12;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .item-5 {
  left: 226px;
  top: 384.372px;
  position: absolute;
  z-index: 5;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 145px;
  height: 150px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-5:hover {
  background-color: #ab4444;
}
#canvas .border-5 {
  left: 220px;
  top: 381.453px;
  position: absolute;
  z-index: 6;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .item-6 {
  left: 430px;
  top: 350.504px;
  position: absolute;
  z-index: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 217px;
  height: 221px;
  border: 1px dashed #ccc;
  background-color: #eee;
  opacity: .5;
}
#canvas .item-6:hover {
  background-color: #ab4444;
}
#canvas .border-6 {
  left: 425px;
  top: 345.248px;
  position: absolute;
  z-index: 2;
  transform: matrix(1, 0, 0, 1, 0, 0);
  pointer-events: none;
}
#canvas .opacity {
  opacity: 1;
}
#canvas .dropabble {
  background-color: #f93;
  opacity: .3;
}
#canvas .drophover {
  background-color: #f93;
  opacity: .7;
}
