<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stylist assistant. Hello, bootstrap</title>
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link type="text/css" href="static/bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet"/>
</head>
<body>
<style>

    .tools-item {
        width: 120px;
        height: 120px;
        display: inline-block;
        background-color: white;
        /*border: 1px black solid;*/
    }

    li {
        height: 38px;
    }

    a {
        color: #000;
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 1.2px;
    }

    #active {
        border-bottom: 1px solid white;
    }

    #canvas {
        position: relative;
        margin: auto;
        border: 1px solid black;
        background-color: white;
        width: 300px;
        height: 350px;
    }
</style>
<div class="container">
    <div class="row">
        <div id="canvas-container" class="col-sm-7" style="height: 100vh; background-color: white">
            <div id="canvas"></div>
        </div>
        <div id="right-side" class="col-sm-5" style="height: 100vh;background-color: #eee">
            <!--menu was here and mooved to bottom-->
            <form>
                <input id="screen" type="button" value="screen">
            </form>
            <label>maximal price<input id="maxprice" type="text" value="10000"></label>
            <input type="button" id="filter-submit"
                   value="filter it" onclick="maxpriceChanged()">
            <div id="tools" style="border-color: black">
                <!--<img id="top01" src="static/dresses/top01.jpg">-->
            </div><!--end issues div-->
        </div><!--end right-side -->
    </div>
</div>

<script src="static/bower_components/lokijs/src/lokijs.js"></script>
<script src="static/minibase200.js"></script>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="static/html2canvas.js"></script>
<script>
    var db = new loki('shopeiro');
    var shopeiro;
    var tools_filter = {};
    const tools_max = 12;

    function initDB() {
        shopeiro = db.addCollection('shopeiro');
        for (let i = 0; i < objects.length; i++) {
            shopeiro.insert(objects[i]);
        }
    }


    console.log('db=' + db);
    initDB();
    var tools = shopeiro.chain().find(tools_filter).limit(tools_max).data();
    for (let i = 0; i < tools.length; i++) {
        console.log(tools[i])
    }

    function addIssue(e) {
        console.log('in addIssue handler');
        var newitem = $(this).clone();
        newitem.appendTo($('#canvas'));
        newitem.draggable();
        newitem.dblclick(dragOrResize);
        //$(this).clone().draggable().appendTo($('#canvas'));
    }

    function toolsItem(id, src, alt) {
        rez = '<img id="' + id + '"class="tools-item" src="' +
                src + '" title="' + alt + '">';
//        rez='<div>abc</div>';
        return rez;
    }

    function updateToolsFilter() {
        console.log('in tools update');
        $('#tools').empty();
        for (let i = 0; i < tools.length; i++) {
            $('#tools').append(
                    toolsItem(tools[i]._id, tools[i].pictures[0], tools[i].description));
            $('#' + tools[i]._id).one("click", addIssue)
        }
    }

    updateToolsFilter();

    function maxpriceChanged() {
        console.log('max price changed to ' + $('#maxprice').val());
        tools_filter = {price: {'$lt': parseInt($('#maxprice').val())}};
        console.log('filter changed to ' + tools_filter.price);
        tools = shopeiro.chain().find(tools_filter).limit(tools_max).data();
        updateToolsFilter();
    }
    //$('#filter-submit').click(alert('changed'));

    var modeDrag = true;
    var issuesSelector;

    function dragOrResize(e) {
        console.log("issue clicked");
        issuesSelector = $(e.target);
        //issuesSelector.hide();
        //        issuesSelector.draggable('destroy');
        //        issuesSelector.resizable();

        if (modeDrag) {
            console.log('resizableMode - turned on');
            modeDrag = false;
            issuesSelector.draggable('destroy');
            issuesSelector.resizable();
        }
        else {
            console.log('modeDrag - turned on');
            modeDrag = true;
            issuesSelector.resizable('destroy');
            issuesSelector.draggable();
        }
    }
    $('#top01').one("click", addIssue);
    $('#canvas').resizable();
    //    $('#top02').draggable();
    //http://stackoverflow.com/questions/13198131/how-to-save-a-html5-canvas-as-image-on-a-server
    $('#screen').click(function () {
        alert("screen");
        html2canvas(document.getElementById("canvas"), {
            onrendered: function (canvas) {
                document.body.appendChild(canvas);
                var dataURL = canvas.toDataURL();
                console.log(dataURL);
                $.post('upload', {img: dataURL});
                //save2server(canvas);
            }
        });
    });
</script>

</body>
</html>

<!--$('#down01').one("click", addIssue);-->
<!--$('#shoes01').one("click", addIssue); -->
<!--$('#acc01').one("click", addIssue);-->

<!--<img id="down01" src="static/dresses/down01.jpg" style="left: 122px; top: 10px">-->
<!--<img id="shoes01" src="static/dresses/shoes01.jpg" style="left: 244px; top: 10px">-->

<!--&lt;!&ndash;<img id="top02" src="dresses/top02.jpg" style="left: 0; top: 140px">&ndash;&gt;-->
<!--&lt;!&ndash;<img id="stop01" src="dresses/stop01.jpg" style="left: 122px; top: 140px">&ndash;&gt;-->
<!--<img id="acc01" src="static/dresses/acc01.jpg" style="left: 244px; top: 140px">-->

<!--<ul class="nav nav-pills">-->
<!--<li role="presentation" id="active"><a href="#">Male</a></li>-->
<!--<li role="presentation"><a href="#">Female</a></li>-->
<!--<li role="presentation"><a href="#">Colors</a></li>-->
<!--<li role="presentation"><a href="#">Budget</a></li>-->
<!--</ul>-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" class="active"><a href="#">1</a></li>-->
<!--<li role="presentation"><a href="#">2</a></li>-->
<!--<li role="presentation"><a href="#">3</a></li>-->
<!--<li role="presentation"><a href="#">4</a></li>-->
<!--<li role="presentation"><a href="#">5</a></li>-->
<!--</ul>-->